body{
    background-color: rgb(242, 239, 234);
}
.div{
    width: 400px;
    height: 300px;
    box-shadow: 2px 2px 2px 2px rgb(118, 115, 115); 
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 550px;
}
#text{
    margin-left: 140px;    
}
#addScore{
    height: 30px;
    width: 100px;
    background-color: azure;
    margin-left: 100px;
    margin-top:20px; 
}
#teams{
    display: flex;
}
.scores{
    font-size: 28px;
    display: flex;
}
#team1{
    margin-left: 44px;
}
#team1{
    margin-left: 44px;
}
#team1Score{
    margin-left: 60px;
}
#team2{
    margin-left: 160px;
}
#team2Score{
    margin-left: 190px;
}
.button{
    display: flex;
}
.btn1{
    margin-left: 40px;
}
.btn2{
    margin-left: 155px;
    /* margin-bottom: 300px;    */
}
.btn{
    margin: 6px;
    border-radius: 20px;
}
.div .wicket1{
    margin-left: 50px;
    border-radius: 20px;
}
.div .wicket2{
    margin-left: 170px;
    border-radius: 20px;
}